.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 12.4rem;
  padding: 3.4rem 4.4rem;
  background: transparent;

  @include breakpoint-down(small) {
    padding: 3.2rem 2.4rem;
  }

  &__nav {
    position: relative;
    display: table;
    width: 100%;
    height: 5.6rem;
  }

  &__menu-item {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 50%;

    @include breakpoint-up(large) {
      &--icon.lg-hide {
        display: none !important;
      }
    }

    &--logo {
      height: 3.2rem;
      text-align: center;
    }

    &--nav,
    &--icon {
      text-align: right;
    }

    .header-menu {
      position: relative;
      margin-left: 4.6rem;

      .header-nav-link {
        color: $neutral-50;
        line-height: 2.2rem;
      }

      &:not(:last-child)::before {
        @include psuedo;
        bottom: -3px;
        left: 0;
        transform: scaleX(0);
        width: 100%;
        height: 2px;
        background-color: $neutral-50;
        transition: transform 300ms ease 0s;
      }

      &:hover:not(:last-child)::before {
        transform: scaleX(1);
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    min-width: 16.95rem;
    min-height: 3.2rem;
    @include background-image("../images/logo.svg");
    background-size: 16.95rem;
  }

  &__hamburger {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 1.8rem;
    cursor: pointer;

    &.header__hamburger--active span {
      opacity: 0;
    }

    &.header__hamburger--active::before {
      top: 5px;
      transform: rotate(45deg);
    }

    &.header__hamburger--active::after {
      top: 5px;
      transform: rotate(-45deg);
    }

    span {
      position: absolute;
      top: 6px;
      left: 0;
      margin-top: 2px;
      width: 100%;
      height: 2px;
      background-color: $neutral-50;
      transition: 300ms ease-in-out;
    }

    &::before,
    &::after {
      @include psuedo;
      width: 100%;
      height: 2px;
      background-color: $neutral-50;
      transition: 300ms ease-in-out;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      left: 0;
    }
  }
}

.modal {
  position: absolute;
  top: 11.8rem;
  left: 0;
  right: 0;
  z-index: 990;
  display: none;

  &.modal--active {
    display: block;
  }

  &__mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: {
      left: 4.4rem;
      right: 4.4rem;
    }
    padding: 4rem 9.4rem 3.8rem;
    background: $neutral-50;

    &::before {
      @include psuedo;
      top: -2.3rem;
      right: 0;
      width: 2.3rem;
      height: 2.45rem;
      background-color: $neutral-50;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .header-menu:not(:last-child) {
      margin-bottom: 3.3rem;
    }
    .nav-link--onscreen {
      font-size: $fs-05;
      text-align: center;
      line-height: 2.4rem;
      color: $neutral-400;
    }

    @include breakpoint-down(small) {
      margin: {
        left: 2.4rem;
        right: 2.4rem;
      }
    }
  }
}
