//****************
//** Colors
//****************

// Primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 44%, 70%);

// Neutral
$neutral-50: hsl(0, 0%, 100%);
$neutral-200: hsl(210, 4%, 67%);
$neutral-400: hsl(232, 10%, 55%);
$neutral-500: hsl(213, 9%, 39%);
$neutral-700: hsl(212, 27%, 19%);

//****************
//** Font Family
//****************
$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

//****************
//** Font Size
//****************

$fs-01: 5.4rem;
$fs-02: 4rem;
$fs-03: 3.2rem;
$fs-04: 2.8rem;
$fs-05: 2rem;
$fs-06: 1.8rem;
$fs-07: 1.6rem;
$fs-08: 1.5rem;
$sub-heading-01: 1.4rem;
